{% extends '::base_metronic_struct.html.twig' %}

{% block rootmenucategory %}
    class="start active open"
{% endblock %}

{% block rootmenucategoryaux %}
    <span class="selected"></span>
{% endblock %}

{% block render %}

    <div class="page-content">
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        Detalles <small>{{ entity.title }}</small>
    </h3>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="{{ path('service_backend_admin') }}">Inicio</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="{{ path('category') }}">Categorías</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                {{ entity.title }}
            </li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->
    <div class="clearfix">
    </div>

    <!-- BEGIN PAGE CONTENT-->

    <div class="row">
        <div class="col-md-12">
            <div class="tabbable tabbable-custom boxless tabbable-reversed">
                <div class="tab-content">
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <div class="form-horizontal" role="form">
                            <div class="form-body">
                                <h3 class="form-section">Detalles - {{ entity.title }}</h3>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Nombre </strong><span><img alt="" src="{{ asset('web/bundles/metronic/flags/es.png')}}"/></span></label>
                                            <div class="col-md-9">
                                                <p class="control-label" style="text-align: left">
                                                    {{ entity.title }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                {% if translations | length > 0 %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label col-md-3"><strong>Nombre </strong><span><img alt="" src="{{ asset('web/bundles/metronic/flags/us.png')}}"/></span></label>
                                                <div class="col-md-9">
                                                    <p class="control-label" style="text-align: left">
                                                        {{ translations['en_us']['title'] }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->
                                    </div>
                                {% endif %}
                                <!--/row-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Orden:</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {{ entity.order }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Mostrar como acordión:</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {% if entity.accordion == 0 %} No {% else %} Sí {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Mostrar artículos en SlideShow:</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {% if entity.carousel == 0 %} No {% else %} Sí {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Mostrar artículos Agrupados:</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {% if entity.showgrouped == 0 %} No {% else %} Sí {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Categoría Superior:</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {% if entity.belong %} {{ entity.belong.title }} {% else %} - {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label col-md-3"><strong>Ordenar artículos en esta (sub)categoría(s):</strong></label>
                                            <div class="col-md-9 control-label" style="text-align: left">
                                                {% if entity.sortelements == 1 %} Título {% else %} Fecha de Creación {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9 record_actions">
                                                <table>
                                                    <tr>
                                                        <th><a href="{{ path('category_edit', { 'id': entity.id }) }}" class="btn btn-sm yellow" style="margin-right: 5px">
                                                                Editar <i class="fa fa-edit"></i> </a></th>
                                                        <th hidden="hidden">
                                                            {{ form(delete_form, {'attr': {'id': 'delete_form' }}) }}
                                                        </th>
                                                        <th>
                                                            <a class="btn btn-sm red" data-toggle="modal" href="#static"> Eliminar </a>
                                                            <div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                                                            <h4 class="modal-title">Confirmación</h4>
                                                                        </div>
                                                                        <div class="modal-body">
                                                                            <p>
                                                                            <h4>¿Está seguro que desea eliminar la categoría?</h4>
                                                                            </p>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" data-dismiss="modal" class="btn default">Cancelar</button>
                                                                            <button type="button" data-dismiss="modal" class="btn red" onclick="deleteConfirmation()">Eliminar</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th>
                                                        <th><a href="{{ path('category') }}" class="btn btn-sm default" style="margin-left: 5px">
                                                                Regresar  </a></th>
                                                    </tr>

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- END PAGE CONTENT-->

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script language="JavaScript">
        function deleteConfirmation(){
            var formulario = document.getElementById('delete_form');
            formulario.submit();
        }
    </script>
{% endblock %}


