{% extends '::base_frontend_struct.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    
{% endblock %}

{% block render %}
   
    <div class="container">
        <h2>
            {{ thankPaypalMessage }}
        </h2>
    </div>
    <br><br><br><br><br><br><br><br>
  	  
  	  
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.flexslider-min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.sharrre.min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
{% endblock %}