{% extends '::base_frontend_struct.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    
{% endblock %}

{% block render %}
    <div id="breadcrumbs">
<div class="row">
	<div class="small-12 columns">
		<div class="main-header">
			<div class="row">
				<div class="small-12 medium-6 columns">
					<h1>
						Tiendas					
					</h1>
				</div>
				<div class="small-12 medium-6 columns hide-for-small">
				
						<aside class="breadcrumb"><a href="{{ path('service_homepage') }}">Pagina principal</a><span>/</span>Tiendas</aside>				</div>
			</div>
		</div>
	</div>
</div>
</div>
    
    <div role="main">
        <div class="row ">
            <section class="small-12 columns ">
                <article class="post post-1395 page type-page status-publish hentry" id="post-1395">
                    <div class="post-content">
                        <p><iframe src="https://www.google.com/maps/d/embed?mid=zlpFYEEDPe5k.kVYUvsxTayRk" width="100%" height="480"></iframe></p>
                    </div>
                </article>
            </section>
        </div>
    </div>
  	  
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.flexslider-min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.sharrre.min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
{% endblock %}