{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SiteOption</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Emailserverip</th>
                <td>{{ entity.emailServerIp }}</td>
            </tr>
            <tr>
                <th>Emailserverport</th>
                <td>{{ entity.emailServerPort }}</td>
            </tr>
            <tr>
                <th>Emailserverprotocol</th>
                <td>{{ entity.emailServerProtocol }}</td>
            </tr>
            <tr>
                <th>Emailserveraddress</th>
                <td>{{ entity.emailServerAddress }}</td>
            </tr>
            <tr>
                <th>Emailserverpassword</th>
                <td>{{ entity.emailServerPassword }}</td>
            </tr>
            <tr>
                <th>Socialfacebookurl</th>
                <td>{{ entity.socialFacebookUrl }}</td>
            </tr>
            <tr>
                <th>Socialgplusurl</th>
                <td>{{ entity.socialgplusUrl }}</td>
            </tr>
            <tr>
                <th>Youtubeurl</th>
                <td>{{ entity.youtubeUrl }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('siteoption') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('siteoption_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
