{% extends '::base_frontend_struct.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
    
    <link href="{{ asset('web/bundles/global/icheck/skins/square/blue.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('web/bundles/metronic/global/plugins/bootstrap-toastr/toastr.css')}}"/>
    
    <style>
        #gruponivcph_servicebundle_client_gender label{
            padding-right: 20px;
        }
    </style>
{% endblock %}

{% block render %}
   
    <div class="row" id="authentication"> 
       <section id="center_column" class="col-md-12">
            <div id="breadcrumbs">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="main-header">
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <h1>
                                          Crear una cuenta				
                                    </h1>
                                </div>
                                <div class="small-12 medium-6 columns hide-for-small">
                                    <aside class="breadcrumb"><a href="{{ path('service_homepage') }}">Pagina principal</a><span>/</span>Autenticación</aside>				
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                                
            {{ form_start(form, {'attr': {'class': 'form-horizontal','id':'form_create_client', 'novalidate' : 'novalidate' }}) }}
                <div class="account_creation">
                    <h3 class="page-subheading">
                        Sus datos personales
                    </h3>
                    
                    <div class="form-group {% if form.gender.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">Tratamiento <sup>*</sup>
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.gender, { 'attr': {
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.gender.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.gender)}}</span>
                                {% endif %}
                        </div>                            
                    </div>
                        
                        
                    <div class="form-group {% if form.name.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">Nombre <sup>*</sup>
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.name, { 'attr': {
                                'class' : 'form-control tags',
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.name.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.name)}}</span>
                                {% endif %}                                                 
                        </div>                            
                    </div>
                    
                    <div class="form-group {% if form.lastName.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">Apellidos <sup>*</sup>
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.lastName, { 'attr': {
                                'class' : 'form-control tags',
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.lastName.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.lastName)}}</span>
                                {% endif %}                                       
                        </div>              
                    </div>
                        
                    <div class="form-group {% if form.dni_nif.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">DNI/NIF
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.dni_nif, { 'attr': {
                                'class' : 'form-control tags',
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.dni_nif.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.dni_nif)}}</span>
                                {% endif %}                                       
                        </div>              
                    </div>
                        
                    <div class="form-group {% if form.email.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">Correo electrónico <sup>*</sup>
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.email, { 'attr': {
                                'class' : 'form-control tags',
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.email.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.email)}}</span>
                                {% endif %}                                                
                        </div>              
                    </div>
                    
                    <div class="form-group {% if form.age.vars.valid==false %}has-error{% endif %}">
                        <label class="control-label col-sm-4">Edad
                        </label>
                        <div class="col-sm-6"> 
                            {{ form_widget(form.age, { 'attr': {
                                'class' : 'form-control tags',
                                'required' : 'required',
                                'maxlength' : 60
                                } }) }}
                                {% if form.age.vars.valid==false %}
                                    <span class="help-block">{{ form_errors(form.age)}}</span>
                                {% endif %}
                        </div>
                        
                        
                    </div>
                        
                    {% set i = 0 %}
                    {% set label = '' %}
                    {% for passwordField in form.password %}
                        {% if i == 0 %}
                            {% set i = 1 %}
                            {% set label = 'Contraseña' %}
                        {% else %}
                            {% set label = 'Repita contraseña' %}
                        {% endif %}
                        
                        <div class="form-group">
                            <label class="control-label col-sm-4">{{ label }} <sup>*</sup>
                            </label>
                            <div class="col-sm-6"> 
                                {{ form_widget(passwordField, { 'attr': {
                                    'class' : 'form-control tags',
                                    'required' : 'required',
                                    'maxlength' : 60
                                    } }) }}

                            </div>
                        </div>
                        
                    {% endfor %}

                    {% for mensaje in app.session.flashbag.get('info') %}
                        <p class="info">{{ mensaje }}</p>
                    {% endfor %}
                    
                        
                        
                    
                        
                    {{ form_widget(form.submit, { 'attr': {
                                'class' : 'btn btn-outline button button-medium',
                                'required' : 'required',
                                'maxlength' : 60
                    } }) }}

                    <p class="pull-right required">
                        <span><sup>*</sup>
                            Campo requerido
                        </span>
                    </p>
                </div>
            {{ form_end(form) }}
        
       </section>
    </div>
   
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.flexslider-min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/jquery.sharrre.min.js')}}"></script>
    <script type='text/javascript' src="{{ asset('web/bundles/frontend/js/magnific-popup/jquery.magnific-popup.min.js')}}"></script>
    
    <script src="{{ asset('web/bundles/global/icheck/icheck.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('web/bundles/metronic/global/plugins/bootstrap-toastr/toastr.min.js')}}"></script>
    
    <script>
        $(function (){
            $("input").iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            })
        })
        
        
        
        $("form").submit(function (){
            
                var message = ""
                
                if($("input[type='radio']:checked").length == 0)
                {
                    message = "<div>- Indique como desea ser tratado</div>"
                }
                
                if($("#gruponivcph_servicebundle_client_user_name").val() == "")
                {
                    message = message + "<div>- Indique el nombre</div>"
                }
                
                if($("#gruponivcph_servicebundle_client_user_lastName").val() == "")
                {
                    message = message + "<div>- Indique los apellidos</div>"
                }
                
                if($("#gruponivcph_servicebundle_client_user_email").val() == "")
                {
                    message = message + "<div>- Indique el correo</div>"
                }
                
                var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        
                if($("#gruponivcph_servicebundle_client_user_email").val() != "" && regex.test($("#gruponivcph_servicebundle_client_user_email").val()) == false)
                {
                    message = message + " <div>- Indique un correo valido</div>"
                }
                
                
                
                
                if($("#gruponivcph_servicebundle_client_user_password_first").val() == "")
                {
                    message = message + " <div>- Debe indicar una contraseña</div>"
                }
                
                if($("#gruponivcph_servicebundle_client_user_password_second").val()
                        != $("#gruponivcph_servicebundle_client_user_password_first").val())
                {
                    message = message + " <div>- Deben coincidir las contraseñas</div>"
                }
                
                
                if(message != "")
                {

                    toastr.error(message)

                    return false
                }
                
                return true
               
                
        })
    </script>
{% endblock %}