{% extends '::base_frontend_struct.html.twig' %}


{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('web/bundles/metronic/global/plugins/bootstrap-toastr/toastr.css')}}"/>
{% endblock %}

{% block render %}

    <div class="row" id="authentication"> 
        <section id="center_column" class="col-md-12">
            <div id="breadcrumbs">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="main-header">
                            <div class="row">
                                <div class="small-12 medium-6 columns">
                                    <h1>
                                        Autenticación					
                                    </h1>
                                </div>
                                <div class="small-12 medium-6 columns hide-for-small">
                                    <aside class="breadcrumb"><a href="{{ path('service_homepage') }}">Pagina principal</a><span>/</span>Autenticación</aside>				
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success box">
                    {{ flashMessage }}
                </div>
                <div class="clearfix"></div>
            {% endfor %}

            <div class="row"><div class="col-xs-12 col-md-6"><form action="" method="post" id="create-password_form" class="box">
                <h3 class="page-subheading">Recuperar contraseña</h3>
                <div class="form_content clearfix"><!--<p>Escriba su nueva contraseña</p>-->
                    <div class="alert alert-danger" id="create_account_error" style="display:none"></div><div class="form-group form-error"> <label for="email_create">Contraseña</label> 
                        <input type="password" class="form-control"  name="password"></div>
                        <label for="email_create">Repetir contraseña</label>
                        <input type="password" class="form-control"  name="repeat_password"></div>
                    <div class="submit">
                        <button id="request_activation_account" href="javascript:void(0);" class="button btn btn-outline button-medium"> 
                                        <span> <i class="fa fa-lock left"></i>&nbsp; Nueva contraseña
                                        </span> 
                                    </button>
                        
                    </div></div></form></div>                    
                    
            </div>
        </section>
    </div>



{% endblock %}

{% block javascript %}
    {{ parent() }}


    <script type="text/javascript" src="{{ asset('web/bundles/metronic/global/plugins/bootstrap-toastr/toastr.min.js')}}"></script>

    <script>
        $("#SubmitCreate").click(function () {
            $("#create-password_form").submit()
        })
    </script>
{% endblock %}